// Place all the styles related to the WordSelects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-group{
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.container{
  float: center;
  margin-top: 2em;
}

.btn-secondary{
  color: white !important;
}

#newHeader{
  margin: auto;
}

.gray{
  background-color: #D3D3D3;
}

.words{
  color: darkblue;
}