<main role="main" class="container gray">
<div id="newHeader"><h1>New Mad Lib</h1></div>

<%= render 'form', word_select: @word_select %>

<%= link_to 'Back', word_selects_path, :class => 'btn btn-danger' %>
</main>